<mat-sidenav-container [class]='currentApp' class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>{{currentApp}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of getApp()" [routerLink]="[link.route]">{{link.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <span>{{currentApp | titlecase}}</span><span style="font-size: 13px; margin-top: .2rem; margin-left: .3rem; margin-right: .3rem;">v4.5.7</span>
    <button *ngFor="let link of getApp()" mat-button [routerLink]="[link.route]">{{link.title}}</button>
    <span class="spacer"></span>
    <button mat-button>Chris</button>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    </mat-toolbar>
    <button mat-raised-button color="accent" (click)="changeApp('mica')">MICA</button>
    <button mat-raised-button color="accent" (click)="changeApp('treatments')">Treatments</button>
    <button mat-raised-button color="accent" (click)="changeApp('mita')">MITA</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Change App</button>
  <button mat-menu-item>Feedback</button>
  <button mat-menu-item>Logout</button>
</mat-menu>