<div class="row bg-white h-25">
    <div class="col d-flex align-items-center justify-content-end">
        <button (click)="openDialog()" class="m-5" style="outline: none;" mat-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

