<mat-horizontal-stepper linear="true" #stepper labelPosition="bottom">
  <mat-step [stepControl]="drugGroup">
    <form [formGroup]="drugGroup">
      <ng-template matStepLabel>Drug</ng-template>
      <div class="container">
        <mat-card>
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col"></div>
            <div class="col">
              <mat-form-field class="m-2" >
                <mat-label>Drug</mat-label>
                <input matInput formControlName="drugNameCtrl" required>
                <mat-hint>Search by Name or Ingredient</mat-hint>
              </mat-form-field>
              <button class="m-2" mat-raised-button color="accent" (click)="searchDrug(drugGroup.get('drugNameCtrl').value)">Search</button>
            </div>
          <div class="col"></div>
        </div>
          <div class="row d-flex justify-content-center align-items-center my-5" *ngIf="loading">
            <mat-spinner></mat-spinner>
          </div>
          <div class="row"*ngIf="!loading">
            <div class="col-12 d-flex justify-content-between align-items-center m-2" *ngFor="let drug of currentDrugResults">
              <div>{{drug.name}}</div>
              <div>{{drug.activeIngredient}}</div>
              <div>{{drug.atc}}</div>
              <button mat-raised-button color="primary" (click)="setDrug(drug)">Select</button>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="d-flex align-items-center justify-content-end mt-5">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="sourceGroup">
    <form [formGroup]="sourceGroup">
      <ng-template matStepLabel>Sources</ng-template>
      <div class="container">
        <div class="row">
          <mat-form-field>
            <mat-label>Source URL</mat-label>
            <input matInput formControlName="sourceUrlCtrl" placeholder="Source URL" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Source Name</mat-label>
            <input matInput formControlName="sourceTextCtrl" placeholder="Source Name" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Source Type</mat-label>
            <input matInput formControlName="sourceTypeCtrl" placeholder="Source Type" required>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between mt-5">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="policyGroup">
    <form [formGroup]="policyGroup">
      <ng-template matStepLabel>Policies</ng-template>
      <mat-form-field>
        <mat-label>Policy Name</mat-label>
        <input matInput formControlName="policyCtrl" placeholder="Search for Policy" required>
      </mat-form-field>
      <div class="d-flex align-items-center justify-content-between mt-5">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dosageGroup">
    <form [formGroup]="dosageGroup">
      <ng-template matStepLabel>Recommendations</ng-template>
      <mat-form-field>
        <mat-label>Weight Range</mat-label>
        <mat-select formControlName="dosageCtrl">
          <mat-option *ngFor="let range of weightRanges" [value]="range">
            {{range.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="d-flex align-items-center justify-content-between mt-5">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <div>
      <div class="d-flex justify-content-between align-items-center my-2">
        <h2>Drugs</h2>
        <button (click)="editStep(0)" style="outline: none;" mat-raised-button
                aria-label="Example icon-button with a heart icon" color="primary">
          Edit
        </button>
      </div>
      <mat-card>
        <p>{{ drugGroup.get('drugNameCtrl').value }}</p>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div>
      <div class="d-flex justify-content-between align-items-center my-2">
        <h2>Sources</h2>
        <button (click)="editStep(1)" style="outline: none;" mat-raised-button
                aria-label="Example icon-button with a heart icon" color="primary">
          Edit
        </button>
      </div>
      <mat-card>
        <p>Source URL: {{ sourceGroup.get('sourceUrlCtrl').value }}</p>
        <p>Source Text: {{ sourceGroup.get('sourceTextCtrl').value }}</p>
        <p>Source Type: {{ sourceGroup.get('sourceTypeCtrl').value }}</p>
      </mat-card>

    </div>
    <mat-divider></mat-divider>
    <div>
      <div class="d-flex justify-content-between align-items-center my-2">
        <h2>Policies</h2>
        <button (click)="editStep(2)" style="outline: none;" mat-raised-button
                aria-label="Example icon-button with a heart icon" color="primary">
          Edit
        </button>
      </div>
      <mat-card>
        <p>{{ policyGroup.get('policyCtrl').value }}</p>
      </mat-card>

    </div>
    <mat-divider></mat-divider>
    <div>
      <div class="d-flex justify-content-between align-items-center my-2">
        <h2>Dosage Recommendations</h2>
        <button (click)="editStep(3)" style="outline: none;" mat-raised-button
                aria-label="Example icon-button with a heart icon" color="primary">
          Edit
        </button>
      </div>
      <mat-card>
        <p>{{ dosageGroup.get('dosageCtrl').value.value }}</p>
      </mat-card>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-5">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary">Confirm</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
